<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <title>NFC Restaurant Kitchen</title>
    <link rel="icon" type="image/png" href="{% static 'images/icons/restaurant.ico' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kitchen.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn-group .btn").click(function () {
                var inputValue = $(this).find("input").val();
                if (inputValue != 'all') {
                    var target = $('table tr[data-status="' + inputValue + '"]');
                    $("table tbody tr").not(target).hide();
                    target.fadeIn();
                } else {
                    $("table tbody tr").fadeIn();
                }
            });
            // Changing the class of status label to support Bootstrap 4
            var bs = $.fn.tooltip.Constructor.VERSION;
            var str = bs.split(".");
            if (str[0] == 4) {
                $(".label").each(function () {
                    var classStr = $(this).attr("class");
                    var newClassStr = classStr.replace(/label/g, "badge");
                    $(this).removeAttr("class").addClass(newClassStr);
                });
            }
        });
    </script>
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6"><h2>Today's <b>Orders</b></h2></div>
                    <div class="col-sm-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="status" value="all" checked="checked"> All
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="status" value="Prepared"> Prepared
                            </label>
                            <label class="btn btn-warning">
                                <input type="radio" name="status" value="In Progress"> In Progress
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="status" value="Declined"> Declined
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Dish Name</th>
                    <th>Remaining Time</th>
                    <th>Status</th>
                    <th>Table Number</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    {% if not order.isFinished %}
                        {% for dish in order.dishes %}
                            {% if dish.status == 'preparing' %}
                                <tr data-status="In Progress">
                                    <td>{{ forloop.parentloop.counter }}-{{ forloop.counter }}</td>
                                    <td>
                                        {% for dish_content in all_dishes %}
                                            {% ifequal dish_content.id dish.dishID %}
                                                {{ dish_content.name }}
                                            {% endifequal %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div id="time{{ forloop.parentloop.counter }}and{{ forloop.counter }}">
                                            99:99
                                        </div>
                                    </td>
                                    <td><span class="label label-warning">In Progress</span></td>
                                    <td>{{ order.tableNo }}</td>
                                    <td>{{ dish.amount }}</td>
                                    <td>
                                        <form action="/kitchen/edit_status/{{ order.id }}/{{ dish.dishID }}/prepared"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-success" value="Finish">
                                        </form>
                                        <br>
                                        <form action="/kitchen/edit_status/{{ order.id }}/{{ dish.dishID }}/declined"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger" value="Decline">
                                        </form>
                                    </td>
                                    <script type="text/javascript">
                                        function refreshTimer{{ forloop.parentloop.counter }}_{{ forloop.counter }}() {
                                            let ETPString = "{% for dish_content in all_dishes %}{% ifequal dish_content.id dish.dishID %}{{ dish_content.ETP }}{% endifequal %}{% endfor %}";
                                            let ETP = parseInt(ETPString) * 60000;

                                            // https://momentjs.com
                                            let fixedDate = moment.utc("{{ order.createdTime }}", "MMMM DD, YYYY, h:mm a").toDate();
                                            console.log(moment.utc("{{ order.createdTime }}", "MMMM DD, YYYY, h:mm a"))

                                            fixedDate.setMilliseconds(fixedDate.getMilliseconds() + ETP);

                                            let date = new Date();

                                            let div = document.getElementById("time{{ forloop.parentloop.counter }}and{{ forloop.counter }}");

                                            div.innerHTML = msToMinSec(fixedDate - date);
                                        }

                                        function msToMinSec(s) {
                                            if (s < 0) return "00:00"

                                            let ms = s % 1000;
                                            s = (s - ms) / 1000;

                                            let secs = s % 60;
                                            let secsString
                                            if (secs <= 9) {
                                                secsString = "0" + secs.toString()
                                            } else {
                                                secsString = secs.toString()
                                            }


                                            s = (s - secs) / 60;
                                            let minutes = s % 60;
                                            let minutesString
                                            if (minutes <= 9) {
                                                minutesString = "0" + minutes.toString();
                                            } else {
                                                minutesString = minutes.toString();
                                            }

                                            return minutesString + ':' + secsString;
                                        }

                                        setInterval("refreshTimer{{ forloop.parentloop.counter }}_{{ forloop.counter }}()", 1000);
                                    </script>
                                </tr>
                            {% elif dish.status == 'prepared' %}
                                <tr data-status="Prepared">
                                    <td>{{ forloop.parentloop.counter }}-{{ forloop.counter }}</td>
                                    <td>
                                        {% for dish_content in all_dishes %}
                                            {% ifequal dish_content.id dish.dishID %}
                                                {{ dish_content.name }}
                                            {% endifequal %}
                                        {% endfor %}
                                    </td>
                                    <td>00:00</td>
                                    <td><span class="label label-success">Prepared</span></td>
                                    <td>{{ order.tableNo }}</td>
                                    <td>{{ dish.amount }}</td>
                                    <td></td>
                                    <!-- TODO: function -->
                                </tr>
                            {% else %}
                                <tr data-status="Declined">
                                    <td>{{ forloop.parentloop.counter }}-{{ forloop.counter }}</td>
                                    <td>
                                        {% for dish_content in all_dishes %}
                                            {% ifequal dish_content.id dish.dishID %}
                                                {{ dish_content.name }}
                                            {% endifequal %}
                                        {% endfor %}
                                    </td>
                                    <td>00:00</td>
                                    <td><span class="label label-danger">Declined</span></td>
                                    <td>{{ order.tableNo }}</td>
                                    <td>{{ dish.amount }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>